.unselected {
    user-select: none;
}

/* 可选中 */
.selected {
    user-select: text;
}

/* 字体大小: 30 */
.font30 {
    font-size: 30px;
}

/* 字体大小: 25 */
.font25 {
    font-size: 25px;
}

/* 字体大小: 20 */
.font20 {
    font-size: 20px;
}

/* 字体大小: 15 */
.font15 {
    font-size: 15px;
}

/* 加粗字体 */
.fontBold {
    font-weight: bold;
}

/* 中粗字体 */
.fontStrong {
    font-weight: 550;
}

/* 减细字体 */
.fontLight {
    font-weight: light;
}

/* 圆角底色 */
.underorange {
    background-color: #ff780080;
    border-radius: 5px;
}

/* 无操作文本: 黑色 */
a {
    color: #000000;

}

/* 去除下划线 */
a:link {
    text-decoration: none;

}

/* 悬停颜色 */
a:hover {
    color: #ffa500;
}

/* 点击后颜色 */
a:active {
    color: #ffc800;

}

/* 按钮颜色 */
button {
    background-color: #c8c8c8;
    font-size: 20px;
    border: none;
}

/* 按钮悬停颜色 */
button:hover {
    background-color: #ffa500;
}

/* 按钮点击颜色  */
button:active {
    background-color: #ffc800;
}

code {
    background-color: #c8c8c880;
    border: solid;
    border-radius: 5px;
    border-color: #c8c8c8
}

/* 导航栏样式 */
#jumpBar {
    border-bottom: 2px;
    border-bottom-color: #000000;
    border-bottom-style: solid;

}

/* 简介的(最小,大)宽, 高度 */
#information {
    width: 150px;
    height: 100px;
    min-width: 150px;
    min-height: 100px;
    max-width: 300px;
    max-height: 200px;
}