/* 音频播放器样式 */
audio {
    width: 250px;
    height: 50px;
    border-color: #808080;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
    background-color: #f1f3f4;

}

/* 超链接默认: 黑色 */
a {
    color: #000000;

}

/* 超链接下划线: 无 */
a:link {
    text-decoration: none;
}

/* 悬停超链接: 橙黄色 */
a:hover {
    color: #ffa500;
}

/* 点击超链接: 黄色 */
a:active {
    color: #ffc800;
}

/* 窗口样式 */
body {
    width: 350px;
    font-size: 17px;
    font-family: '微软雅黑';
}

/* 按钮默认: 灰白色,大小20 */
button {
    background-color: #c8c8c8;
    font-size: 17px;
    border-style: solid;
    border-width: 2px;

}

/* 悬停按钮:橙黄色 */
button:hover {
    background-color: #ff7700;
    border-style: solid;
    border-color: white;

}

/* 点击按钮: 黄色 */
button:active {
    background-color: #ffdd00;

}

/* 导航栏样式 */
#jumpBar {
    border-bottom: 2px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
}

/* 简介的(最小,大)宽, 高度 */
#describes {
    width: 150px;
    height: 100px;
    min-width: 150px;
    min-height: 100px;
    max-width: 300px;
    max-height: 200px;
}

/* X-简介样式 */
#info {
    background-color: #66ff6680;
    text-align: center;
    border-radius: 15px;
    width: 330px;

}

/* 不可选中 */
.unselected {
    user-select: none;
}

/* 可选中 */
.selected {
    user-select: text;
}

/* 字体大小: 30 */
.font30 {
    font-size: 30px;
}

/* 字体大小: 25 */
.font25 {
    font-size: 25px;
}

/* 字体大小: 20 */
.font20 {
    font-size: 20px;
}

/* 字体大小: 18 */
.font18 {
    font-size: 18px;
}

/* 较粗字体 */
.fontBold {
    font-weight: 550;
}

/* 加粗字体 */
.fontBolder {
    font-weight: bold;
}

/* 减细字体 */
.fontLight {
    font-weight: light;
}

/* 字体颜色:红色 */
.fontRed {
    color: #ff0000;
}

/* 字体颜色:橙色 */
.fontOrange {
    color: #ff6600;
}


/* 字体颜色:黄色 */
.fontYellow {
    color: #ff7700;
}

/* 字体颜色:紫色 */
.fontPurple {
    color: #ff00ff;
}

/* 圆角底红色 */
.underRed {
    background-color: #ff999980;
    border-radius: 15px;

}

/* 圆角底橙色 */
.underOrange {
    background-color: #ff990080;
    border-radius: 15px;

}

/* 圆角底黄色 */
.underYellow {
    background-color: #ffee0080;
    border-radius: 15px;

}